@model WijayanthaHardware.Models.PaintViewModel
@{
    ViewBag.Title = "AddPaint";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@section style{
    @Styles.Render("~/add-paint-css")
}
<div class="paint-master">
    <div class="container">
        <div class="paint-add-btns">
            <ul>
                <li><a class="same-btn" href="#">Add category</a></li>
                <li><a class="same-btn" href="#addcolor" data-toggle="modal">Add color</a></li>
                <li><a class="same-btn" href="#">Update paint</a></li>
            </ul>
        </div>
        <div class="add-paint">
            <h1 class="small-heading">Add paint</h1>
            <form action="/" method="post">
                <div class="row">
                    <div class="col-xs-12 col-md-6">
                        @Html.LabelFor(x => x.PaintCategoryId, new { @class = "small-heading" })
                        @Html.DropDownListFor(x => x.PaintCategoryId, Model.PaintCatergoryList, "Select Paint Category", new { @class = "wide" })
                    </div>
                    <div class="col-xs-12 col-md-6">
                        @Html.LabelFor(x => x.PaintSubCategoryId, new { @class = "small-heading" })
                        @Html.DropDownListFor(x => x.PaintSubCategoryId, Model.PaintSubategoryList, "Select Paint", new { @class = "wide" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-12">
                        <div class="common-margin">
                            <lable class="small-heading">Colour</lable>
                            <input id="searchBar" type="text" name="name" value="" placeholder="Type to search paint colour" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="add-paint-quantity">
                        <div class="col-xs-6 col-sm-3 col-md-3 common-margin">
                            <input id="litre" type="checkbox" name="litre" value="" />
                            <label for="litre">10 L</label>
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 common-margin">
                            <input type="text" name="qty" value="" placeholder="Cost" />
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 common-margin">
                            <input type="text" name="name" value="" placeholder="Price" />
                        </div>
                        <div class="col-xs-6 col-sm-3 col-md-3 common-margin">
                            <input type="text" name="name" value="" placeholder="Quantity" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="btns common-margin">
                        <button class="same-btn" type="submit">Submit</button>
                        <button class="same-btn">reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@*add paint modal*@

@Html.Partial("_AddColor", Model)

@*add paint modal end*@
@section script
{
    @Scripts.Render("~/add-paint-js")
}


