@model WijayanthaHardware.Models.PaintViewModel
@{
    ViewBag.Title = "Paints";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@section style{
    @Styles.Render("~/paint-css")
}
<div class="page-content">
    <div class="container">
        <h1 class="big-heading">Paints</h1>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="select-bar">
                    @Html.LabelFor(x => x.PaintCategoryId, new { @class = "small-heading" })
                    @Html.DropDownListFor(x => x.PaintCategoryId, Model.PaintCatergoryList, "Select Paint Category", new { @class = "wide select-list paint-list" })
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="select-bar">
                    @Html.LabelFor(x => x.PaintSubCategoryId, new { @class = "small-heading" })
                    @Html.DropDownListFor(x => x.PaintSubCategoryId, Model.PaintSubategoryList, "Select Paint", new { @class = "wide select-list paint-list" })
                </div>
            </div>
            <div class="col-xs-12 col-md-12">
                <div id="paintSearch" class="search-bar">
                    <input id="searchBar" type="text" placeholder="Search Paint Color" class="typeahead">
                </div>
            </div>
        </div>
        <div id="paintDetails" style="opacity:0;">
            @*<div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="item-category">paint</div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="item-category">color</div>
                </div>
            </div>*@
            <table class="paint-details" id="paint-details-Table">
                <thead>
                    <tr>
                        <th>Volume</th>
                        <th>Quantity</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
@section script
{
    @Scripts.Render("~/paint-js")
}
