@model WijayanthaHardware.Models.PowerToolsViewModel
@{
    ViewBag.Title = "Power Tools";
    Layout = "~/Views/Shared/_HomeLayout.cshtml";
}
@section style{
    @Styles.Render("~/powertool-css")
}
<div class="page-content">
    <div class="container">
        <h1 class="big-heading">power tools</h1>
        <div class="row">
            @*<a href="#pwredit" data-toggle="modal" class="same-btn pull-right">Edit</a>
            <a class="btn-load-inner-form-modal-edit" href="@Url.Action("EditPowerTool", "PowerTools", new { PowerToolId = Model.PowerToolMasterId })">Hello</a>*@
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-6">
                <div class="select-bar">
                    @Html.LabelFor(x => x.PowerToolId, new { @class = "small-heading" })
                    @Html.DropDownListFor(x => x.PowerToolId, Model.PowerToolSelectList, "Select Tool Category", new { @class = "wide select-list" })
                </div>
            </div>
            <div class="col-xs-12 col-md-6">
                <div class="select-bar">
                    @Html.LabelFor(x => x.PowerToolSubCategoryId, new { @class = "small-heading" })
                    @Html.DropDownListFor(x => x.PowerToolSubCategoryId, Model.PowerToolSubSelectList, "Select Tool", new { @class = "wide select-list" })
                </div>
            </div>
        </div>
        <div class="item-details" id="item-details-Table" style="opacity:0;">
            <div class="row">
                <div class="col-xs-12 col-md-6">
                    <div class="item-left">
                        <div class="item-name" id="@Html.IdFor(x=>x.ToolName)"></div>
                        <table class="power-tools">
                            <tr>
                                <td>Price</td>
                                <td id="@Html.IdFor(x=>x.ToolPrice)"></td>
                            </tr>
                            <tr>
                                <td>Cost code</td>
                                <td id="@Html.IdFor(x=>x.CostCode)"></td>
                            </tr>
                            <tr>
                                <td>Detail</td>
                                <td id="@Html.IdFor(x=>x.Details)"></td>
                            </tr>
                            <tr>
                            <tr>
                                <td>Warranty Period</td>
                                <td id="@Html.IdFor(x=>x.WarrantyPeriod)"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    @*<a id="pt-edit-link" class="btn-load-inner-form-modal-edit" href="">Hello</a>*@
                                    <a id="pt-edit-link" href="#pwredit" class="same-btn pull-right btn-load-inner-form-modal-edit">Edit</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="item-right">
                        <div class="availability-count" id="@Html.IdFor(x=>x.AvailableQuantity)"></div>
                        <div class="availability-text">Item(s) remaining</div>
                    </div>

                    
                </div>
            </div>
        </div>
    </div>
</div>

<div id="markup"></div>

@section script
{
    @Scripts.Render("~/powertool-js")
}
